# ARCHITEKTURA: Definiuje stos monitoringu (Prometheus + Grafana).
# Działa w ramach tej samej, globalnej sieci co reszta aplikacji,
# co pozwala Prometheusowi na zbieranie metryk z poszczególnych mikroserwisów.

version: '3.8'

services:
  prometheus:
    image: prom/prometheus:v2.51.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - danxils-global-network # Używamy wspólnej sieci
    restart: unless-stopped

  grafana:
    image: grafana/grafana-oss:11.0.0
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - danxils-global-network # Używamy wspólnej sieci
    restart: unless-stopped

  zipkin:
    image: openzipkin/zipkin:3
    container_name: zipkin
    ports:
      - "9411:9411"
    networks:
      - danxils-global-network
    restart: unless-stopped

volumes:
  prometheus_data:
  grafana_data:

networks:
  danxils-global-network:
    external: true